/.vim/.VimballRecord
/.vim/.netrwhist
/.vim/swaps
!/.config
/.config/*
!/.config/awesome/
!/.config/i3
!/.config/i3status
!/.config/dunst
!/.config/mimeo.conf

!/.ncmpcpp
/.ncmpcpp/*
!/.ncmpcpp/bindings
!/.ncmpcpp/config
