/*
!/.bashrc
!/.bash_functions
!/.gitignore
!/.tmux.conf
!/.vim
/.vim/.VimballRecord
/.vim/.netrwhist
!/.vimrc
!/.xbindkeysrc
!/.xinitrc
!/.Xresources
!/.config
/.config/*
!/.config/awesome/
!/.config/i3
!/.config/i3status
!/.config/dunst
